name: CI/CD NodeJS

on:
  push:
    branches: [ "develop" ]

env:
  NODE_VERSION: 24

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.0

      - name: Import NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: ${{env.NODE_VERSION}}

      - name: Show content
        run: ls -l

